.banner{
    height: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e4e0;
}

.banner-img{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.one{
    height: 50%;
}

.two{
    height: 100%;
}

#options{
    display: none;
}

.checkbox-main-icon{
    position: absolute;
    top: 7.2rem;
    font-size: 2rem;
    color: #234323;
    left: 2.5%;
    opacity: 0.75;
}

.checkbox-main-icon:hover{
    transition: 0.2s ease-in;
    opacity: 1;
}

.sidebar_menu{
    position: absolute;
    top: 5.5rem;
    left: -25rem;
    width: 20rem;
    height: 40rem;
    background-color: #8f9f8f;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0px 0px 1rem 0.05rem #4c664c;
}

.sidebar_menu-headline{
    position: absolute;
    top: 3.5%;
    left: 85%;
    width: 18rem;
}

.sidebar_menu-icon{
    color: #fff;
    font-size: 1.5rem;
}

.items{
    width: 80%;
}

.sidebar_menu-option{
    color: #fff;
    font-size: 1.5rem;
}

.separation{
    width: 100%;
    height: 1rem;
    background-color: #e0e4e0;
}

.heading{
    margin: 1.5rem 0rem 2.5rem 5rem;
}

a{
    text-decoration: none;
    /* font-family: sans-serif; */
    color: #234323;
    font-weight: 500;
    font-size: 1.75rem;
}

.products{
    display: flex;
    justify-content: start;
    align-items: center;
}

.product-img{
    width: 15rem;
    /* height: 20rem; */
    border-radius: 1rem;
    /* box-shadow: 0px 0px 1rem 0.05rem #000; */
    margin: 0rem 1.25rem 2rem 1.25rem;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

/* .shoe{
    width: 20rem;
} */

/* .space{
    height: 2.5rem;
} */

#options:checked ~ .sidebar_menu{
    transition: 0.2s ease-in;
    left: 1%;
}

.connect{
    display: flex;
    p{
        font-size: 1.25rem;
    }
}

.platforms{
    display: flex;
    a{
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }
    margin-bottom: 3rem;
}


@media(max-width:675px){

    .banner{
        height: 8rem;
    }

    .separation{
        height: 0.5rem;
    }

    /* .banner-img{
        height: 40%;
        width: 1%;
    } */

    .one{
        height: 50%;
    }
    
    .two{
        height: 130%;
    }

    .products{
        overflow-y: hidden;
        flex-wrap: nowrap;
        overflow-x: visible;
    }

    .product-img{
        min-width: 8rem;
    }

    .shoe{
        min-width: 12rem;
    }

    .cap{
        min-width: 10rem;
    }

    .products::-webkit-scrollbar{
        width: 0;
    }
/* 
    .a1{
        height: 11rem;
    }

    .d1{
        width: 9rem;
    }

    .b2{
        height: 11rem;
    }

    .a3{
        height: 11rem;
    }

    .i3{
        height: 15.5rem;
    } */

    .heading{
        margin-left: 5%;
        margin-bottom: 5%;
        a{
            font-size: 1rem;
        }
    }

    .sidebar_menu-option{
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .banner-img{
        height: 5rem;
        width: 15rem;
    }
    .products>a{
        font-size: 1rem;
    }
    .checkbox-main-icon{
        font-size: 0.7rem;
        left: 5%;
        top: 9.5%;
    }

    .connect{
        p{
            font-size: 0.75rem;
            margin: 0;
        }
    }
    .platforms{
        a{
           font-size: 1rem;
           margin-left: 0.5rem;
    }
    }

}
